doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='content-type' content='text/html; charset=UTF-8')
    title= title
    link(type='text/css' rel='stylesheet' href='/bootstrap/bootstrap.min.css')
    link(type='text/css' rel='stylesheet' href='/bootstrap/bootstrap-vue.css')
    script(src='/vue/vue.js')
    script(src='/bootstrap/bootstrap-vue.js')
    link(rel='stylesheet' href='assets/css/style.css')
  body
    block content


